[2015-06-07 03:41] harlowja opened #4 "Unable to acquire write lock -> read lock -> write lock"
This should be working, since the *sole* writer can get a read lock (as its exclusively got the write lock) and then it should be able to again get the write lock it already has.

[2015-06-07 03:43] #4 closed

[2015-11-06 00:50] ubershmekel opened #11 "There are no code examples in the docs"
Am I looking in the wrong place?

[2015-11-06 01:04] harlowja commented on #11
We could use some, if you want to submit a PR, feel free :)

[2015-11-06 01:18] ubershmekel commented on #11
Cool. I'll be trying this module out next week. I'll try and report back soon.

[2015-11-06 06:25] harlowja commented on #11
Sounds great.

[2015-11-12 01:56] ubershmekel opened #12 "Cannot use a relative path to a file in the current directory as a lock"
The problem is `dirname` here

[code]

Which causes this exception because basedir is empty.

[code]

Honestly I'm surprised this library is trying to create the file or directory. It should just fail if the lock is missing.

[2015-11-12 01:56] ubershmekel commented on #12
For reference this was the test code

[code]

[2015-11-12 02:37] harlowja commented on #12
Seems like we should just call `os.path.abspath` on all paths to ensure they are absolute, or add an option ``make_absolute=True`` to get past this...

[2015-11-12 16:50] ubershmekel commented on #12
Or don't call `_ensure_tree` when `basedir` is an empty string.

[2015-11-13 18:48] #12 closed

[2015-11-13 18:57] harlowja commented on #12
Btw https://pypi.python.org/pypi/fasteners/0.14.1 use that and the fix is in there :)

[2015-11-13 19:40] ubershmekel commented on #12
Cool. Thank you :)

[2015-12-02 20:06] paulochf opened #15 "How to handle multiple running instances?"
Hi!

I'm converting my code from lockfile to fasteners and then I got stuck on a problem.

I have a script started by cron about a couple minutes which I want it to be the only instance running.
I think it's normal some executions last for more than 2 minutes, but I want that new instances started by cron while another is running don't wait for the lock.

Now, the script (a Django Command) is some

[2015-12-02 20:23] harlowja commented on #15
You probably want to use the acquire method of the lock class directly and use its non-blocking option instead of using a context manager or decorator. That'd be my recommendation since u need to handle the case of it not getting acquired and a context manager or decorator isn't really able to handle that case for u.

  https://github.com/harlowja/fasteners/blob/master/fasteners/process_lock.py#L1

[2015-12-02 22:05] paulochf commented on #15
Ok! Thanks for the tip!

[2015-12-02 23:06] paulochf commented on #15
I wonder if it would be nice to add the blocking option to context manager and/or decorator. Maybe I could try a PR with this, but I would like to know what you think first.

[2015-12-02 23:16] harlowja commented on #15
I'm unsure how it would get added to the decorator, what does it do if it is unable to get the lock, does it not call the underlying function or throw an error or something?

[2015-12-02 23:16] harlowja commented on #15
I think it could be added to the context manager, but then the same question needs to be known, how does the code that is inside the context manager get to know that the lock actually wasn't acquired?

[2015-12-02 23:33] paulochf commented on #15
That's why I'm asking, heh.

You're right about the decorator. I thought it could be nice but even for me it would not be so useful. I can't think any other use case right now either.

About the manager, I went to [its PEP](https://www.python.org/dev/peps/pep-0343/) just to make sure I'm not tripping hard (my intentions were lighter, trying to be constructive :smiley:).

Here in my case, it would

[2015-12-02 23:33] harlowja commented on #15
I'm not sure u can easily pass over the context code though :-/

[2015-12-02 23:34] harlowja commented on #15
Btw, u can likely (maybe) just use https://github.com/harlowja/fasteners/blob/master/fasteners/lock.py#L255 for this context manager, but u still have to handle the case where the locking didn't work out in the code that follows.

[2015-12-03 16:05] paulochf commented on #15
Yeah, that's what I was looking for! I guess I missed it yesterday.

I'm OK and happy with that. :smile:
Thanks for the conversation!

[2015-12-03 16:05] #15 closed

[2015-12-06 22:00] cool-RR opened #16 "Allow `InterProcessLock` to receive a `pathlib.Path` object"

[2015-12-06 23:10] harlowja commented on #16
Sounds good to me as long as it will work on both py2.7 and py3.x

[2015-12-06 23:23] cool-RR commented on #16
I think it will since you don't even need the package, just call str(path)
on the paths and you're done. You need pathlib just for the tests, and
there is a python 2 backport.
On Dec 7, 2015 01:10, "Joshua Harlow" <notifications@github.com> wrote:

[2015-12-07 00:22] harlowja commented on #16
Agreed, although probably better to call https://docs.python.org/3/library/os.html#os.fsencode if we can...

[2015-12-07 00:48] harlowja commented on #16
Ok checkout https://github.com/harlowja/fasteners/pull/17 (I'll add some tests but seems to work locally).

[2015-12-07 10:43] cool-RR commented on #16
Be wary of `isinstance(path, pathlib.Path)`, because some people, like me,
bundle `pathlib` in another package so this check would fail for them. I
would skip the pathlib import completely, even though it's in `try`. You
can basically check if it's a string, and if it's not turn it into a string
in your favorite way.

On Mon, Dec 7, 2015 at 2:48 AM, Joshua Harlow <notifications@github.com>
wrote:

[2015-12-07 19:17] harlowja commented on #16
Hmmm, why u bundling it :frowning:

I get that concern, but it seems like a 1% case (and not especially a 1% case that I like, bundling stuff IMHO is ummm not helping the python ecosystem in general, although I get the reasons why people do it, I just don't agree with them, ha).

[2015-12-07 19:23] cool-RR commented on #16
Also consider there are alternatives to Pathlib which act similarly but
will still fail your test. You can't isinstance all of them but you can do
str(path) which will work for all of them, I think.

Sent from my phone.
On Dec 7, 2015 9:17 PM, "Joshua Harlow" <notifications@github.com> wrote:

[2015-12-07 19:29] harlowja commented on #16
Fair enough, maybe should just do str() as u said...

[2015-12-30 18:39] #16 closed

[2016-01-04 22:59] noobermin commented on #11
*cough* many of us would appreciate something like this.

[2016-01-04 23:26] ubershmekel commented on #11
https://github.com/harlowja/fasteners/pull/14

[2016-01-04 23:32] harlowja commented on #11
u should get checked out for a cold noobermin ;)

[2016-01-05 06:07] harlowja commented on #11
Your wish is my command :stuck_out_tongue:

[2016-01-05 06:10] harlowja commented on #11
https://fasteners.readthedocs.org/en/latest/examples.html

[2016-01-05 06:10] harlowja commented on #11
Enjoy!

[2016-02-03 01:22] #11 closed

[2016-02-15 19:39] johntyree opened #22 "Process Lock tests assume POSIX"
The `test_process_lock` module assumes we're on a POSIX system.

It *looks* like it can be fixed pretty easily, but I really don't know much about the details of locking on various platforms.

Here we import `fcntl`: https://github.com/harlowja/fasteners/blob/master/fasteners/tests/test_process_lock.py#L19

And here we use it: https://github.com/harlowja/fasteners/blob/master/fasteners/tests/test_

[2016-02-15 22:29] johntyree opened #24 "Use Appveyor to make sure things keep working on Windows"
It would be great to get Windows-based tests running regularly. It's free for OSS.

www.appveyor.com

As the repo owner, I think you, @harlowja, or a blessed contributor need to actually set it up.

[2016-02-16 23:45] harlowja commented on #24
Yup, I'll work on getting this setup when I get back from my break (end of week).

[2016-02-23 02:57] #22 closed

[2016-02-23 03:01] harlowja commented on #24
Ok, https://ci.appveyor.com/project/JoshuaHarlow/fasteners let's see if this works, ha

[2016-03-02 19:24] #24 closed

[2016-03-02 22:07] johntyree commented on #24
:dancer: :tada:

[2016-05-18 19:46] alimanfoo opened #25 "conda-forge maintainers"
Hi @harlowja, I am using fasteners in another package ([Zarr](http://zarr.readthedocs.io/en/latest/)), many thanks for developing it. I recently added Zarr to [conda-forge](http://conda-forge.github.io) to simplify installation for people using conda, and as part of making that possible I also needed to add fasteners to conda-forge. I've created a [feedstock for the fasteners package](https://gith

[2016-05-24 12:38] dstufft opened #26 "InterProcessLock files left behind"
When trying to use the ``InterProcessLock`` class on OS X it appears that when it releases the lock, it doesn't cleanup after itself. It would be great if it could do this to ensure that we don't leave a bunch of left over files laying around.

[2016-08-14 03:28] harlowja commented on #26
Yup, known issue with this kind of lock type using the lock scheme we are using.

See the following for some of this:

- http://lists.openstack.org/pipermail/openstack-dev/2015-December/081916.html
- http://lists.openstack.org/pipermail/openstack-dev/2015-November/thread.html#80825

That thread is split across 2 months; and it summarizes the problem and why its not 'just as easy' as u might think

[2016-08-14 03:32] harlowja commented on #26
Do note that if the python `flock` API provided a little more functionality, we might be able to do some work there to get these cleaned up, because in general it appears quite hard to know which locks to even delete without trying to take over the ownership of those locks (and associated blocking doing that). I believe there is a non-exposed API for `flock` usage that does let u 'get the current

[2016-10-13 15:15] tgamblin commented on #26
I was able to find a decent solution for this for my use case by using byte range locking with Python's `lockf` (which is confusingly `fcntl` underneath).

In particular, I have a bunch of install prefixes for different packages in a package manager, and each needs to be write-locked while an install is happening and read-locked while a dependency's install is happening.  Lots of installs can happ

[2016-11-09 22:09] jonkelleyatrackspace opened #27 "Where's the rpm? Should I make one?"
this project needs a specfile

[2016-11-28 20:06] harlowja commented on #27
Go for it.

[2017-02-16 01:21] tgamblin commented on #26
@harlowja

[2017-02-16 05:34] harlowja commented on #26
I also had something similar @ https://github.com/harlowja/fasteners/pull/10 (though yours might be better)

[2017-02-16 05:37] harlowja commented on #26
Ya, nice yours is better :)

[2017-02-16 06:59] tgamblin commented on #26
@harlowja: thanks! curious if openstack and/or fasteners has a use for this.  If so I could try to make an API and submit a PR.  Not sure if I can maintain for cloud environments, though, so someone in your project would have to have a need.  Thoughts?

[2017-02-25 07:43] harlowja commented on #26
Sure, I take PRs :)

My guess is someone would have a need :)

[2017-02-27 00:09] harlowja commented on #26
The read and write lock stuff could be especially useful.

[2017-05-12 00:57] catb0t opened #28 "How to use this library?"
I was looking into the tests folder to try to find a code example I could work from, but it left me as baffled as [the documentation](https://fasteners.readthedocs.io/en/latest/api/lock.html#classes).

Excerpted from
[class ReadWriteLockTest in test_lock.py](https://github.com/harlowja/fasteners/blob/master/fasteners/tests/test_lock.py#L102):

[code]

Neither in the documentation nor in the testin

[2018-01-01 16:03] JackDca opened #29 "InterProcessLock behaves differently on Windows7 compared to Gnu-Linux."
On Gnu-Linux (Debian stretch), Python 2.7.14, if InterProcessLock.acquire() is called and returns True, it can be called a second time from the same process and will return True the second time. This is true even if the second call is made using a second InterProcessLock object created using the same lock file. No matter how many times it is called, a single call to release() will allow other proc

[2018-03-22 17:16] corydodt commented on #26
Issue is now almost 2 years old and I, a new user, am running into it now.

One key thing I'd like to address: Your documentation specifically says this,

However this doesn't seem to be the case, and if I'm understanding this bug correctly, they are the same issue. Specifically, SIGTERM'ing a process (let alone SIGQUIT or SIGKILL) leave the lockfile in the filesystem.

1. Is this in fact the same

[2018-03-23 16:44] harlowja commented on #26
So I think you are confused that release is the same as file deletion; it's not. What is released is the file handle that is owned by the process; this is automatically released (ensured by the operating system). To actually delete the file is actually pretty complicated to get right (due to dual-ownership); but I do agree the wording could be better.

[2018-03-29 22:13] harlowja commented on #29
So one point, https://github.com/harlowja/fasteners/blob/master/fasteners/process_lock.py#L62-L63

[2018-03-29 22:14] harlowja commented on #25
If you have interest in maintaining the conda-forge files go for it; I don't think I'd be the right maintainer.

[2018-03-30 01:39] JackDca commented on #29
The issue as described has nothing to do with multiple threads.

In my case, there are two modules in the code which must check that the lock has been acquired by my process. This is because it is not safe for another instance of the application (another process) to execute those modules at the same time.  If another process has acquired the lock, my process terminates. I don't know in advance whi

[2018-03-30 03:54] harlowja commented on #29
Do u want to submit a patch to make it work on windows 7; I don't currently have a windows 7 machine to test against and I'm guessing you do?

[2018-03-30 03:54] harlowja commented on #28
A reader-writer lock is https://en.wikipedia.org/wiki/Readers%E2%80%93writer_lock

[2018-03-30 12:31] JackDca commented on #29
I will take a look to see if I can figure it out, but on Windows I am really just a user, so that could be a long process! My test machine is a VM (Virtualbox). My desktop came with Windows 7 - I moved it to a VM when I installed Debian (the MS licence allows that).

Thanks for your work on fasteners!

[2018-03-30 16:05] harlowja commented on #29
Ok, I do have a windows 10 box, but not windows 7; if it becomes to much of a pain in the ass for you to do it just let me know and I can try...

[2018-08-15 07:16] mrunge commented on #27
The RPM is included in RDO, in Fedora, and in CentOS

[2018-10-10 19:31] gabor-lbl opened #32 "Please allow interprocess_locked to with blocking=False"
Please add an optional parameter to interprocess_locked so blocking can be set to False. My process is called by cron every so often, and I want it to exit if another copy is still running. Thank you!

[2018-11-15 15:33] vstinner commented on #26
Would it make sense to use a file descriptor rather than a filename with O_TMPFILE, to ensure that the file is destroyed as soon at the file is closed in all processes (or when processes are killed)? O_TMPFILE requires Linux 3.11 and newer, and is not supported by all filesystems, but more and more filesystems support it.

See how tempfile of Python stdlib uses O_TMPFILE:
* https://github.com/pyth

[2018-11-15 18:15] harlowja commented on #26
Oh hi victor, how are u :)

[2018-11-20 09:52] 4383 commented on #26
Hi @harlowja what do you think about Victor suggestions?
I starting to review your PR #10 and I currently realize some tests with it.

[2018-11-21 18:13] vstinner commented on #26
Hey! I'm fine. I moved to a new team. I'm now maintaining Python for Red Hat (in Fedora, RHEL and upstream)! But as you can see, I'm helping @4383 who replaced me on Oslo in my previous OpenStack team.

[2018-12-01 16:41] harlowja commented on #26
Hi guys, just back from vacation (thanksgiving in the US) so it will take me a little while to catch all back up..

[2018-12-13 14:36] 4383 commented on #26
@harlowja do not hesitate to tell if I can help you by doing something (review, code, whatever), just ping me.

[2018-12-14 15:56] harlowja commented on #26
Do you want to try to implement https://github.com/harlowja/fasteners/issues/26#issuecomment-439081366???

[2018-12-14 16:56] tgamblin commented on #26
@harlowja: Sorry for disappearing.  I initially had issues getting a license change through our IP office when I [commented](https://github.com/harlowja/fasteners/issues/26#issuecomment-253543912), but Spack has since relicensed to Apache-2.0/MIT, so we could contribute our code pretty easily now.

If you want the byte range locking that I mentioned above, that could make sense here.  We use it al

[2018-12-19 18:34] harlowja commented on #26
Might be easier if you guys want to jump on toolsforhumans.slack.com or IRC?

[2018-12-19 19:06] harlowja commented on #26
It'd be nice to look at https://github.com/spack/spack/blob/develop/lib/spack/llnl/util/lock.py again, and see what we can take into this lib.

[2018-12-19 21:39] tgamblin commented on #26
@harlowja: how do I get an account?

[2018-12-20 22:57] harlowja commented on #26
Ah, hmmm, good question, lol

[2018-12-20 22:58] harlowja commented on #26
Guess  I have to inivite people, hmmm

[2019-02-13 23:16] Erotemic commented on #26
@harlowja It doesn't look like the spack lock implementation does the cleanup the lockfile either. Am I missing something?

[2019-04-20 21:05] chrahunt opened #34 "Document public members of _InterProcessLock"
The [latest docs](https://fasteners.readthedocs.io/en/latest/api/process_lock.html) are missing e.g. [`acquired`](https://github.com/harlowja/fasteners/blob/master/fasteners/process_lock.py#L93) and other public members that may be useful.

[2019-04-21 02:59] chrahunt opened #35 "Provide capability to check lock status"
This can be useful for interactive debugging or not-so-paranoid asserts/logging when a file lock is supposed to be in effect.

Since this isn't provided directly by Python, it would need to be done using ctypes/C/Cython and interact with platform-specific APIs. In order to implement this enhancement we would need to either:

1. Use another library (but currently this library does not have any depe

[2019-05-22 16:52] prometheanfire opened #36 "RuntimeError: Reader to writer privilege escalation not allowed"
https://github.com/harlowja/fasteners/commit/467ed75ee1e9465ebff8b5edf452770befb93913

Hi, I think this commit caused an issue with nova (at the very least).  Had an oslo guy (bnemec) look at it and he pointed to the commit.

Here's the log while it's still up.

http://logs.openstack.org/54/660254/2/check/cross-nova-functional/a0617a9/testr_results.html.gz

Backtraces follow.

[code]

[code]

[cod

[2019-05-22 20:53] cybertron commented on #36
After a bit of initial investigation, it looks like this doesn't reproduce consistently or in isolation. Running the failed tests by themselves works fine. I was able to reproduce one failure by running the entire functional test suite for Nova, but that's a rather heavy reproducer, and suggests there may be race condition going on here. I'm going to keep poking at it, but since it will likely tak

[2019-05-23 14:20] cybertron commented on #36
With https://github.com/harlowja/fasteners/commit/467ed75ee1e9465ebff8b5edf452770befb93913 reverted I haven't been able to reproduce the Nova functional test failure. Previously it reproduced pretty consistently for me.

My guess would be that there's some sort of race in the eventlet fix that hits us when we're running highly concurrent things like functional tests. That's a WAG though.

I'm goin

[2019-06-07 13:09] MeggyCal opened #38 "Please make the code compatible with Python3.8"
I mean:
/usr/lib/python3.7/site-packages/unittest2/compatibility.py:143
  /usr/lib/python3.7/site-packages/unittest2/compatibility.py:143: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
    class ChainMap(collections.MutableMapping):

Thank you very much :) .

[2019-11-25 08:57] psarka opened #42 "Interprocess semaphore and reader writer lock"
I'm looking for a python implementation of multiplatform interprocess reader writer lock (and hence semaphore), and fasteners library seems to be the place that could potentially provide it.

Would you be interested in contribution of these two, assuming that they are possible to implement in a similar fashion as interprocess lock?

[2020-02-29 05:57] harlowja commented on #42
Sure.

[2020-03-10 02:27] dgaedcke opened #46 "Crash when called from Google app engine emulator (localhost). (via ctypes)"
Do you guys have any guess why I'm getting this crash?
Or if not, is there any way to fork this library in a way that does not depend upon monotonic?

Thanks for any thoughts you have ... I'm in quite a bind:

  File "/Users/dgaedcke/dev/gaeStdEndptTestcase/lib/apitools/base/py/credentials_lib.py", line 44, in <module>
    import fasteners
  File "/Users/dgaedcke/dev/gaeStdEndptTestcase/lib/fasten

[2020-05-11 17:46] SamSchott opened #47 "Getting the PID of the locking process in InterProcessLock"
Have you ever considered extending the functionality of `InterProcessLock` to retrieve the PID of the currently locking process? Python does not seem to implement this in the `fcntl` module but one could use F_GETLK directly and pass the appropriate structure for the platform. An example of how to build such structures for different platforms can be found in the cpython [tests](https://github.com/

[2020-08-08 01:55] EvertonSA opened #49 "what is a good use case for this library?"
hi, can someone spend 5 minutes please contextualizing where this can be used in production scenarios?

It seems interesting, but it might be good to have a use case here in the repo

[2020-10-15 16:25] philippludwig commented on #28
Same here. Nice that there is an article available about the theory behind it, but that still does not explain how this library is intended to be used.

[2020-10-16 16:20] MJuddBooth opened #51 "in InterProcessLock, __init__ should be able to set default values arguments for acquire()"
This would make its use as a context manager more flexible, eg `with InterProcessLock(afile, delay=0.1, max_delay=1) as locked:`

[2020-11-01 20:43] psarka opened #52 "A brief plan"
@harlowja

Before I start changing things, I thought I'd share my intentions, to see if that's ok with you.

1. I'd like to start with merging my own PR #50, as it is written to support python 2.7. It would be nice if someone could review it, but if no one has time, I am willing to merge it as is. After this we could release the last version that supports 2.7.

2. Then I'd like to migrate the code

[2020-11-02 16:43] harlowja commented on #52
Will get back to this later tonight (got me real job to look after).

[2020-11-08 13:38] psarka commented on #51
Interesting! Do you have a usecase, where you need different values of delay and max_delay? I thought the defaults should work almost always, so if anything, I would have suggested to make these two parameters even less exposed.

(On the other hand, timeout parameter should be part of the context manager API.)

[2020-11-08 13:40] psarka commented on #49
Sorry for the late reply. By "here in the repo", do you mean the README file?

[2020-11-08 13:44] psarka commented on #46
Yes, it is possible, and monotinic should not be a dependency (it is only used for testing)

[2020-11-08 13:46] #27 closed

[2020-11-08 13:46] #25 closed

[2020-11-08 13:49] psarka opened #53 "Consider proving a flock based lock"
@redramen writes:

I tried using the default fcntl lock with a daemon process (one generated by python-daemon package) but was running into a few issues. Notably I could not write my PID to a file, nor could I read it back with that style of locking. I can do those with the BSD style flock.

And provides the following snippet:

[code]

[2020-11-08 14:03] psarka commented on #52
Bump :)

[2020-11-08 14:05] psarka commented on #46
Done by https://github.com/harlowja/fasteners/pull/40

[2020-11-08 14:05] #46 closed

[2020-11-08 17:57] harlowja commented on #52
Ah, overall looks fine to me. I think openstack should be fine with these changes; as long as the core API doesn't break. Though I'll have to ask some people if 2.7 support can be dropped entirely (I think it can, just need to verify).

[2020-11-20 00:19] MJuddBooth commented on #51
Sorry, I could have been clearer and chosen better examples.  What I really had in mind was cases like `with InterProcessLock(afile, blocking=False)` or `InterProcessLock(afile, timeout=2)` as you suggest.  I don't really see a need to fiddle with delay or max_delay.

[2020-11-20 10:13] psarka commented on #51
Awesome, I will implement those :+1:

[2020-11-26 11:58] psarka opened #60 "pypy on macos cannot run our tests"
This is the stacktrace from github actions:

[code]

[2020-11-28 19:40] #49 closed

[2020-11-28 19:45] psarka commented on #38
Something got mixed up here, we do not import any ABCs from anywhere, and the code runs fine on python 3.8. I'll close this then, please reopen if I'm mistaken.

[2020-11-28 19:45] #38 closed

[2020-11-28 19:48] psarka commented on #28
I'll note that the README was rewritten with this question in mind, but I will keep this issue open until the documentation is improved as well.

[2020-11-28 20:13] EvertonSA commented on #49
https://github.com/harlowja/fasteners/pull/58

[2020-12-07 17:14] manoprenko opened #61 "Release new version"
Hi!

It would be great to make a new release (particularly I'm interested in [this commit](https://github.com/harlowja/fasteners/commit/be8f96ef28e8247546de62befc9c08336074adeb)) and to have it available on pypi. Could you help with this?

[2020-12-08 11:10] psarka commented on #51
Actually, I now realized that this situation is quite ugly. The thing is, `blocking` and `timeout` are not features of the lock, but rather parameters of an *attempt* to get the lock. Some functions may want to try to acquire the same lock with timeout, some without.

For that reason, the `blocking` and `timeout` parameters rightly belong to the `.acquire` method, as it is implemented.

At the sam

[2020-12-08 11:13] psarka commented on #61
@harlowja I think this is a good point to make a release.

It has accumulated a couple of features and fixes, and would be the last for python 2.7, what do you think?

I can make the update to the changelog, is there anything else I can do to help you with this?

[2020-12-08 16:37] harlowja commented on #61
Sounds good to me, let's do it. I can try to get that done after you update the changelog; shouldn't be hard :-P

[2020-12-10 14:19] psarka commented on #61
Voila: https://github.com/harlowja/fasteners/pull/62

[2020-12-12 20:29] MJuddBooth commented on #51
I see your point, and I think your proposed solution is reasonable - I certainly don't have a better idea.  Thanks.

[2020-12-15 20:48] psarka commented on #61
@harlowja Check out the github actions, there is a default one for publishing to pypi, maybe you will find it worthwhile to setup :)
https://github.com/harlowja/fasteners/actions/new

[2020-12-15 20:53] harlowja commented on #61
Probably a good idea, since I don't have tons of time to do all this stuff, lol

[2020-12-16 14:16] psarka commented on #61
I added the required action to master, all it remains is for you to go to repo Settings -> Secrets and add two env variables:

PYPI_USERNAME
PYPI_PASSWORD

When that's done, create a new release v0.16, and it will be uploaded to PyPi automatically.

[2020-12-16 16:07] harlowja commented on #61
How about I add you as co-maintainer on pypi :-P

[2020-12-16 16:09] harlowja commented on #61
What's your PYPI username?

[2020-12-16 16:55] psarka commented on #61
That would work as well, my PYPI username is the same - psarka.

But in this case you will need to give me admin rights to this repository, as I can't access the settings at the moment.

[2020-12-16 17:14] harlowja commented on #61
Ok, u got invited on pypi, but doesn't seem that github has a way to give you admin rights to this repository from what I can tell, may just have to upload to pypi via other methods for now.

[2020-12-16 17:26] harlowja commented on #61
I'll see about doing that settings setup at some point in the future, I guess for now just upload manually with `twine` `upload`

https://twine.readthedocs.io/en/latest/#twine-upload

[2020-12-16 18:08] psarka commented on #61
Done!

https://pypi.org/project/fasteners/0.16/

[2020-12-16 18:08] #61 closed

[2020-12-16 18:10] harlowja commented on #61
Awesome, nice.

[2020-12-16 22:21] manoprenko commented on #61
Thanks a lot guys!

[2020-12-16 22:50] psarka commented on #36
@cybertron I hope you still remember this 1.5 year old issue :)

I'm hesitating to revert the eventlet thing in PR #37, so I'd like to investigate this a little more. You write that you can hit this in the Nova functional test suite, do you have some pointers on how to run it? And what system were you using, Linux?

[2021-01-01 15:46] #52 closed

[2021-01-06 00:04] cybertron commented on #36
Okay, luckily I was able to dredge up some memories of this. :-)

It does still reproduce with the nova functional tests. I created a fresh Fedora VM and installed the necessary bits, then tweaked the package versions to use the latest fasteners, and my first test run failed on this error. Here are the highlights of what I did:

[code]

You don't necessarily have to use Fedora, bindep is distro-aw

[2021-01-06 18:28] pombredanne commented on #51
FWIW, I am considering switching from https://github.com/yougov/yg.lockfile which offer sthe timeout feature in a context manager and that would be a blocker for me not to have this.
I use it this way
https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/src/licensedcode/cache.py#L222

[2021-01-06 18:59] psarka commented on #51
This feature is definitely on the list, but I currently I don't like the API options for it :(

I'll note that while I'm stuck, the exception raising one is very easy to make yourselves on top of lock by just adding the method. Like this:

[code]

[2021-01-06 21:26] pombredanne commented on #51
@psarka Thanks! that's simple enough. I also appreciate that fasteners has no external deps!

[2021-01-07 15:42] pombredanne commented on #51
And I have tested this at scale on ~ 20K runs and it looks fine so far! Thanks

[2021-01-14 08:43] psarka commented on #36
I can confirm, that this replicates, on ubuntu 20.04 in my case. I'm having some success with running a limited test

    tox -e functional nova.tests.functional.test_cross_cell_migrate.TestMultiCellMigrate

Which can be repeated until failure with this nice trick:

    while tox -e functional nova.tests.functional.test_cross_cell_migrate.TestMultiCellMigrate; do :; done

[2021-01-14 16:47] psarka commented on #36
Repro :tada: :tada: :tada:

[code]

So at the moment fasteners do not support eventlet green threads. Like at all.

Question for those who know - are there any other "thread" like objects we would like fasteners to support? Is there a list of libraries of this sort?

[2021-01-14 16:52] psarka commented on #36
Actually scratch that, this is not even supposed to work, as it lacks the magic

    eventlet.monkey_patch()

Adding this repro example works. Back to investigation :(

[2021-01-14 18:59] psarka commented on #36
OK, I got it now - nova is not properly `monkey_patch`ing it's eventlets. So the question is then as follows - should fasteners add a support for unpached eventlet locks, or should all our library users properly patch their threading module?

I don't like monkey_patching, so I'm leaning towards supporting it, but I would have to think what is the impact to our API. I'd love to keep it clear and si

[2021-01-17 17:53] psarka commented on #29
I repro'd this one on windows 10, there is a bug in our code.

The repro is simple (needs a windows machine):

[code]

The bug is line 142 in `process_lock.py`, where we set `self.acquired = False` on a failure to acquire (even though it should remain True, as we still hold the lock, just failed to reenter recursively).

[2021-01-29 13:43] #29 closed

[2021-02-02 16:40] cybertron commented on #36
Huh, that's strange. The functional tests should be fully monkey patched. The functional module has https://opendev.org/openstack/nova/src/branch/master/nova/tests/functional/__init__.py#L23 which calls https://opendev.org/openstack/nova/src/branch/master/nova/monkey_patch.py#L63 unless the debugger is enabled, in which case the thread module would be excluded, but at least in my env I wasn't usin

[2021-06-03 05:59] Billcountry opened #68 "Error Reading long description during setup"
I'm experiencing this error when setting up a google cloud dataflow pipeline.
Doing a `pip install -r requirements.txt` works when running this locally but once done from the setup scripts the error below occurs.

[code]

[2021-06-03 08:19] psarka commented on #68
I think I know how to fix it, give me a moment.

[2021-06-04 08:07] psarka commented on #68
@Billcountry Published a 0.16.1 with a fix that I think will solve this. Give it a try!

[2021-06-04 08:07] #68 closed

[2021-06-04 08:26] Billcountry commented on #68
@psarka Thanks,
I believe the change should fix the problem, I'll retry the same process for a final confirmation.

[2021-06-07 12:45] yarikoptic opened #71 "a patch release 0.16.1 broke "API""
On this wonderful Monday morning I just want to whine and beg to be more careful about changing public (since neither `._protected` nor `.__private` -- makes it public) API surface. 0.15-36-gade69f8 (AKA 0.16.1~4^2) removed `.acquired` attribute from `_InterProcessLock`.

0.16.1 got released `Fri Jun 4 09:57:28 2021 +0200` and that broke our DataLad where we did use `.acquired` to assess if lock w

[2021-06-07 13:10] psarka commented on #71
Crap, I forgot to branch off the 0.16 release and released off of master insted. Will check how to fix this.

[2021-06-07 13:17] yarikoptic commented on #71
I think the easiest would be to revert that commit (or any other pertinent), release 0.16.2 (off the branch off or after reverting what should not be there) and kill 0.16.1 on pypi

but in the long run -- `.acquired` will be removed?

[2021-06-07 13:21] yarikoptic commented on #71
BTW, git tag for 0.16 seems was not pushed to github

[2021-06-07 13:31] psarka commented on #71
Added the missing tag and will release the 0.16.2

@harlowja Could you, please, yank the 0.16.1 release from the pypi? I don't have the sufficient permissions for that.

[2021-06-07 16:42] psarka commented on #71
Released the 0.16.2, @yarikoptic sorry for the disturbance.

As for the `.acquired` method I have to admit, I'm a bit lost what to do. On one hand it is obviously "incorrect", as by the time you get the result you know longer know if the lock is acquired or not, on the other hand people keep on using it and even POSIX has F_GETLK.

[2021-06-07 16:51] yarikoptic commented on #71
Thank you @psarka !

I wish I could share my "wisdom" on how to proceed about `.acquired` but I don't know enough of locking business :-/

In our case - we can avoid using it in the code quite easily but tests somehow really "wanted" it. I came up with an ugly workaround for that and we should probably look toward not relying on `.acquired`, and then I would stop carrying if it goes away . ;-)
But

[2021-06-07 16:51] yarikoptic commented on #71
I guess we can consider it fixed by 0.16.2 (FWIW -- tested that it was released, and pip installable, and our tests don't break). Thanks again

[2021-06-07 16:51] #71 closed

[2021-06-08 07:49] nodiex-cloud opened #72 "Executing release on InterProcessLock from cygwin yields: The argument must be an int or have a fileno method."
Hello, I (with duplicity the backup soft) am using fastener from cygwin and creating a lock with InterProcessLock. When releasing the lock I am receiving the above error.

1. What is the intended behavior of fastener on cygwin?
2. Is cygwin suppose to behave like a POSIX filesystem or is the expected interaction with the file system for C/Python programs running in cygwin through the Win APIs?

[2021-06-08 09:20] nodiex-cloud commented on #72
[code]

[2021-06-08 18:40] shoop commented on #72
I see the same trace from duplicity 0.8.19 built with fasteners 0.16.1, at the end of every run:

[code]

[2021-06-12 16:23] psarka commented on #72
@nodiex-cloud @shoop I cannot replicate this, could you please provide an example I could run and a bit more details about your environment?

I myself tried cygwin on windows 10 with python36 and python36-venv installed as cygwin packages. I then ran the tests for the process lock and they all pass.

Also, 0.16.1 was an errorneous release (my screw up, appologies for that!), could you please try w

[2021-06-14 07:45] jimorie opened #74 "fasteners 0.16.1 installs the "tests" package"
I have noticed that installing fasteners 0.16.1 also installs the "tests" package for fasteners. This did not happen for 0.16, and seems like an oversight?

This happened to break my tests as the fasteners "tests" package came before my own "tests" package in my PYTHONPATH.

[code]

[2021-06-14 09:53] psarka commented on #74
Indeed an oversight, please update to 0.16.2!

[2021-06-14 09:57] jimorie commented on #74
I get the same issue with 0.16.2.

[2021-06-14 11:16] psarka commented on #74
Fixed, please try 0.16.3.

[2021-06-14 11:18] jimorie commented on #74
Looks better, thanks for the quick fix! :)

[2021-06-14 11:18] #74 closed

[2021-08-17 11:50] shoop commented on #72
Hi @psarka , sorry for the delay in response. I can confirm that with fasteners 0.16.3 the problem has gone away for me.

[2021-08-17 14:09] psarka commented on #72
Great, thanks!

[2021-08-17 14:10] #72 closed

[2021-11-02 17:41] Erotemic opened #77 "No `__version__` attribute in `__init__.py`"
It is common for packages to contain a top-level `__version__` attribute as a standard way of inspecting the version of a package at runtime.

This is not necessarily an issue, I see that fasteners has a `version.py` with a `_VERSION` variable, and there are several ways to expose versioning information (https://packaging.python.org/guides/single-sourcing-package-version/), and I don't believe any

[2021-11-02 20:26] psarka commented on #77
[Apparently](https://github.com/Fatal1ty/mashumaro/issues/53#issuecomment-903563529) there is, in fact, a standard way how to get the version info: importlib.metadata.version.

But I don't mind having `__version__` as well, so please, make the PR :)

[2021-11-02 23:25] Erotemic commented on #77
Interesting, TIL about `importlib.metadata.version`.

I suppose I could change my bash function:

[code]

to

[code]

but it seems requires the pip registry distribution name, and not the module name itself, which I suppose isn't good or bad, it's just different. For instance I have to say `pyversion scikit-image` instead of `pyversion skimage`

In any case, I do like having the very explicit `__v

[2021-11-03 10:18] #77 closed

[2021-11-30 21:38] alexsilva opened #79 "Bug in django framework."
This library breaks the execution of the django framework (Both change the windll.kernel32.LockFileEx object)

https://github.com/django/django/blob/main/django/core/files/locks.py#L77

https://github.com/harlowja/fasteners/blob/master/fasteners/pywin32/win32file.py#L13

 python manage.py collectstatic --noinput
[code]

[2021-12-01 09:00] psarka commented on #79
Fascinating! Thanks for the bug report, I'll see what can be done.

[2022-01-05 15:36] #79 closed

[2022-01-17 07:42] psarka opened #82 "Cleanup, tests and docs for Exceptions and Errors"
The issue #72 was caused by 0.16.1 raising different exception than 0.16 - `TypeError` instead of `threading.ThreadError`. The former does not inherit from `Exception`, so duplicity failed to intercept it when releasing the lock twice (they always release the lock twice).

We need tests to make sure we maintain the exception interface, as well as docs. And ideally we should not be raising `threadi

[2022-01-17 07:46] psarka commented on #72
Note: I found the root cause of this issue (see #82), and it has nothing to do with cygwin. Fasteners on cygwin run fine, and I would like them to continue to run fine.

[2022-01-17 13:10] kloczek opened #84 "RFE: allow build with latest `setuptools` > 60"
Looks like 0.17.1 forces to use exact version of the setuptools.
[code]
I've tested below patch:
[code]
Ans build with latest `setupttols` > 60 is fine
[code]

[2022-01-17 14:08] psarka commented on #84
Thanks a bunch, was experimenting with some stuff and left it by mistake :man_facepalming:

[2022-01-17 14:13] #84 closed

[2022-01-17 14:16] psarka commented on #84
Released 0.17.2 with a fix, should be ok now.

[2022-01-17 16:38] kloczek commented on #84
No git tag for that version. Probably content of your repo not pushed to github 😄

[2022-01-17 16:38] kloczek commented on #84
Nevertheless .. thank you 😄

[2022-01-25 08:35] gthiemonge opened #86 "Potential deadlock in ReaderWriterLock"
This behavior has been observed in the OpenStack TaskFlow project (https://opendev.org/openstack/taskflow)

After updating from fasteners 0.14.1 to 0.16.3, we have observed some issues with the TaskFlow CI, some tests are blocked with a deadlock.

I wrote a simple reproducer in the fasteners test: https://github.com/gthiemonge/fasteners/commit/6d40296baa2c870a1ea8746bc7ad0f581c6ec4c5

Basically, a

[2022-01-25 09:23] psarka commented on #86
Thanks for a great bug report! I'm unfamiliar with this part of the codebase, so it will take some time. @obondarev, maybe you would like to take a look?

[2022-01-25 13:19] obondarev commented on #86
Sure, I think read lock should be allowed if current thread already has a write lock. This means line #184 in [1] should be
"elif (self._writer == me) or not self.has_pending_writers:"
Can you please try that @gthiemonge ?

[2022-01-25 13:33] psarka commented on #86
I gave it a go, all tests pass, including the reproducer by @gthiemonge. Thanks :+1:

I will take another carefull look at that part of the code and will release the fix soonish.

[2022-01-25 13:37] obondarev commented on #86
Thanks, @psarka !

[2022-01-25 14:02] gthiemonge commented on #86
Yes, it fixes my reproducer and our tests in TaskFlow.
Thanks Folks!

[2022-01-25 14:55] psarka commented on #86
Made a new release (0.17.3) with the fix.

[2022-01-28 08:49] jakirkham commented on #86
We are still seeing deadlocks with 0.17.3. Will try to come up with a reproducer.

[2022-02-06 18:23] howardjones opened #88 "Docs are incorrect for try_lock"
It [says](https://fasteners.readthedocs.io/en/stable/api/lock.html#fasteners.lock.try_lock):

    fasteners.lock.try_lock(*args, **kwds)

but in fact, it ignores any arguments apart from the lock.

    def try_lock(lock):

(found while trying to set the delay/max_delay for a context manager)

[2022-02-08 10:54] psarka commented on #88
Thanks for the report @howardjones!

Indeed, the docs are off, but furthermore, none of the thread locks support timeouts (and consequently delay/max_delay), so you are out of luck.

[2022-02-08 11:02] psarka commented on #88
Actually, not out of luck :) If you need good thread locks, use this lib instead: https://github.com/elarivie/pyReaderWriterLock. I have not tried it, but it has everything I could ever wish.

[2022-02-09 08:53] psarka opened #90 "Admin chores"
@harlowja I have two tasks for you, as an admin of this repo. Could you, please:

1. Switch the default branch from `master` to `main` (Settings -> Branches).
2. Fix or install the webhook for readthedocs, so that it updates the docs at every push to `main`.

Thanks :)

[2022-02-14 21:41] psarka commented on #90
@harlowja ping! :)

[2022-02-23 09:15] psarka commented on #90
@harlowja I would like to see this happen, could you indicate that you at least see the messages? If you are too busy to deal with readthedocs, alternative would be to take down readthedocs page altogether, and I would replace it with github pages.

[2022-02-24 04:36] harlowja commented on #90
Hi there,

I'll try to get some of this done over the weekend,

Sorry about being slow :-P

[2022-02-25 15:15] yarikoptic opened #91 "Question/Answer: How to "multi-thread safe" an InterProcessLock?"
We use InterProcessLock in https://github.com/datalad/datalad to avoid possible multiple parallel processes (e.g. spawn by git-annex) to query/modify credentials at the same time.  Recently we realized that it doesn't play nice with multi-threaded parallelization we have implemented in the same process (https://github.com/datalad/datalad/issues/6483).  I RTFM to find
https://fasteners.readthedocs.

[2022-02-25 15:31] psarka commented on #91
Thanks! This is very interesting, I'm updating the documentation at the moment, so I will reopen this issue, with the following two tasks for myself:

- [ ] Add at test confirming @yarikoptic interprocess-interthread approach across different OS
- [ ] Add it to the new documentation

[2022-04-13 09:59] psarka commented on #90
@harlowja A kind reminder that the chores still await you! :)

Let me help you a bit:

Switch the branch (~30sec)
1. Click the ⚙ Settings on the top of this page
2. Choose Branches on the left
3. Choose `main` as default

Add me to read the docs maintainers (~1min, unless you lost the password, then ~2min.)
1. Login to read the docs
2. Click fasteners project
3. Click ⚙ Admin
4. Click Maintainers

[2022-04-17 19:43] harlowja commented on #90
I'm on it, haha

[2022-04-17 19:47] harlowja commented on #90
Default branch updated to "main"

Added you as admin/maintainer on readthedocs.

Sorry about taking so long, started a new job @ Waymo a few months ago and have
been busy trying to come up to speed there.

[2022-04-18 09:55] psarka commented on #90
Behold! Updated documentation!

https://fasteners.readthedocs.io/en/latest/

Thanks @harlowja :)

[2022-04-18 09:55] #90 closed

[2022-05-12 03:42] harlowja commented on #90
Much appreciated; sorry for being slow, lol.

[2022-05-16 13:30] kloczek opened #92 "0.17.3: sphinx warnings `reference target not found`"
Fiirs of all currently it is not possible to use straight `sphinx-build` command to build documentation out of source tree
[code]
This can be fixed by patch like below:
[code]
This patch fixes what is in the comment and that cand of fix is suggested in sphinx example copy py https://www.sphinx-doc.org/en/master/usage/configuration.html#example-of-configuration-file

Than .. on building my packages

[2022-05-16 15:56] kloczek commented on #92
That is really bad 😞
mkdosc does not support generating documentation as man pages 😢
Other thing is that sphinx can use .md files as input so it is possible to support mkdoc and sphinx.

mkdoc is used only in handfull modules.  At rhe same time (looking on my already done spec fires used to build pytjon modules as rpm packages)
[code]
So statistically more than half (+5/9) modueles are using sphin

[2022-05-16 21:43] psarka commented on #92
Do you need man pages because you are packaging fasteners as an rpm package? In that case I don't mind supporting something extra that would help generate those man pages (without switching to sphinx for online docs - those I want to keep mkdocs). Any advice? And maybe you have man pages for older versions of fasteners (or any other lib) I'd like to see how they look like.

[2022-05-16 22:50] kloczek commented on #92
Man page it is still most popular documentation format on all unix platforms and this is why I've choose that format as  most usefull and handy for all rpm packges with sphinx based documentation.
I've chose as well to put all modules documentation in `python-<module_name>.3` files.
By this access to all that documetation using bash/zsh/fish completions is incradibly easy.
Example from my current

[2022-05-16 22:52] kloczek commented on #92
IMO the best way would be leave current docs/ content as it is and add only docs/copy.py file to allow reuse all mkdoc files to be able generate out of those files documentation usig sphinx.

[2022-05-17 09:57] psarka commented on #92
ok, I will take a look when I have a spare moment

[2022-08-15 08:59] defnull opened #93 "Ferature request: A lock type that works for both threads and processes"
`InterProcessLock` silently fails if multiple locks on the same file are created in multiple threads of the same process. All threads can acquire the lock, because their process already owns the lock and `fcntl.lockf()` returns without error. This is obvious if you know how `InterProcessLock` is implemented and how file lock work on the OS level, but still may surprise users (including myself) and

[2022-08-17 19:13] Erotemic opened #95 "Bad link in the docs."
On the page: https://fasteners.readthedocs.io/en/latest/

The "Reference" link to https://fasteners.readthedocs.io/en/latest/reference.index.md

links to a odd page that seems broken:

![image](https://user-images.githubusercontent.com/3186211/185223542-89ddcf4c-47ec-42c8-8bd3-f1d293dd57d8.png)

[2022-09-05 11:05] SeanMooney opened #96 "fastners ReaderWriterLock is unsafe with eventlets"
The ReaderWriterLock currently makes heavy use of
threading.current_thread to provide rentrancy.

the pattern in use either  check if the pending writer is me or if the current acquire of the lock is the writer

however when used with eventlet and spawn_n that might return the python thread instead of the
eventlet greenthread id and allow different greenthread on the same OS thread to enter the cr

[2022-09-13 21:45] psarka commented on #60
Apparently now they can, so this resolved itself.

[2022-09-13 21:45] #60 closed

[2022-09-14 13:56] slhck opened #100 "InterProcessLock does not actually lock?"
Maybe there is something that I don't understand about locks, but this code allows me to run two instances of the same program concurrently:

[code]

Whereas if I really want exclusive access, I have to implement something like:

[code]

In other words, what is the purpose of the context manager function if it does not actually enforce the lock?

[2022-09-14 18:40] psarka commented on #100
Hi, could you, please, provide more info, in particular your OS and fasteners version? I cannot reproduce your issue, and if I run two instances of the program you provided I get correct behavior. In particular, I modified your example like this and ran in two terminals:

[code]

[2022-09-14 18:47] psarka commented on #96
Should be resolved in version 0.18 :tada:

[2022-09-14 18:47] #96 closed

[2022-09-14 18:48] psarka commented on #95
Fixed! Thanks @Erotemic :+1:

[2022-09-14 18:48] #95 closed

[2022-09-14 18:50] psarka commented on #28
Documentation is now pretty good :tada:

[2022-09-14 18:50] #28 closed

[2022-09-14 18:58] slhck commented on #100
Oh, I get it now, the difference is that it's blocking by default! In your example it works — it does lock. I will close this. Thanks for your quick response!

Still: is there any way to get the context manager behavior working with a lock that does not block but raises an exception immediately?

[2022-09-14 18:58] #100 closed

[2022-09-14 19:04] psarka commented on #36
I'm closing this, as the issue here most likely was related to `spawn_n`, which is solved in fasteners 0.18, and oslo.concurency fixed it independently as well.

I don't have any guidance on how nova should migrate to fixed versions, the project is very complicated :)

Let me know if you ever try the fixed version and it does not work.

[2022-09-14 19:04] #36 closed

[2022-09-14 19:10] psarka commented on #100
No, context managers are not flexible and always block.

I thought about this at some point (context managers raising timeout exceptions), but don't remember now what was the conclusion :roll_eyes:

[2022-09-14 19:13] slhck commented on #100
No problem, I can live with the example I gave above.

[2022-09-16 12:46] musicinmybrain opened #101 "Tests hang with eventlet support"
On Fedora Linux 36, x86_64, `test_no_concurrent_writers` always hangs beginning with 383d9b6. It never hangs with 59dec43 and earlier.

[code]

Beginning with 1875874, `test_double_reader_writer` also hangs:

[code]

[2022-09-16 14:47] psarka commented on #101
Thank you, I'm aware of this issue.The culprit is eventlet monkey patching, which does not play well with multiprocessing. I did not manage to figure out how to isolate the test cases, nor how to isolate eventlet. So I physically separated the tests into two directories and I run them now as

[code]

Is this something you could do as well? The only alternative that comes to my mind is to try run t

[2022-09-16 15:04] psarka commented on #101
Hang on, I think running in a child works fine. Give me a sec :running_man:

[2022-09-16 18:38] musicinmybrain commented on #101
Thank you. This works for me, too.

[2022-09-16 19:14] psarka commented on #101
I fixed it in https://github.com/harlowja/fasteners/commit/80a3eaed75276faf21034e7e6c626fd19485ea39 on my side as well - eventlet test is back in `main`, and I run it in a subprocess, so there is no more conflict.

[2022-09-16 19:14] #101 closed

[2022-09-16 20:44] musicinmybrain commented on #101
Thanks again; I can confirm that commit works for me, too.

[2022-11-03 20:31] watchedsyncforkodi opened #103 "Could not find module 'kernel32' error on Xbox One when importing fasteners"
I'm the author of a Kodi add-on module that imports the fasteners module.

A user has reported [an issue](https://github.com/watchedsyncforkodi/service.watchedsync/issues/6) on a Xbox One device which is raising an exception during the importing of fasteners module

https://paste.kodi.tv/goboseferu

Exception below:

`EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the

[2022-11-03 21:59] psarka commented on #103
This is tricky, maybe some more configuration is needed for ctypes. I'll try to ask in the python discussion forum, and I don't have access to xbox one, which will complicate things a bit :)